{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque maximus commodo odio, sit amet eleifend ipsum
  vestibulum ut. Cras facilisis nibh et sollicitudin rhoncus. Aliquam pulvinar eu turpis eget lobortis. Sed maximus nunc
  nisl, eu molestie felis tristique at. Nulla id augue sollicitudin purus auctor lobortis et consectetur dolor. Maecenas
  luctus ultricies cursus. Sed tristique erat eget varius imperdiet. Nulla facilisi. Duis commodo sagittis tempus. Fusce
  in nibh nisi. Proin sit amet nulla lacus.</p>

<p>Morbi sollicitudin at ex at vulputate. Pellentesque at euismod diam. Aenean semper facilisis lacinia. In ullamcorper
  tellus a mauris convallis mattis. Cras molestie eu ipsum vitae rutrum. Maecenas sit amet eros id eros efficitur
  viverra id vel felis. Ut ac mauris accumsan, venenatis nunc ac, placerat nisi. Aliquam et auctor lectus, et venenatis
  enim. Sed non diam non tellus facilisis tempus sit amet in risus. Sed non tortor quam. Donec id lacus est. Etiam
  sagittis odio ut justo ullamcorper vestibulum. Vivamus elementum, ex vel eleifend tristique, purus ex porta justo, et
  facilisis elit diam quis felis. Phasellus quis magna eu tellus dignissim placerat. Orci varius natoque penatibus et
  magnis dis parturient montes, nascetur ridiculus mus.</p>
{{end}}
